# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Datasets, checkpoints, models, and logs
data/raw/*
checkpoints/*
saved_models/*
logs/*

# Large model/data files
*.safetensors
*.bin
*.pkl