# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Datasets and checkpoints (Do not commit to Git)
data/raw/*
checkpoints/*
saved_models/*
logs/*
*.safetensors
*.bin
*.pkl